@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto
}

:root{
    --primary-color:#B40E1A;
    --white-default: #FFFFFF;
    --gray: #CCCCCC;
    --gray-111: #111;
    --gray-222: #222;
    --gray-333: #333;
    --shadow-026: rgba(0, 0, 0, 0.26);
    --shadow-050: rgba(0, 0, 0, 0.5);
    --linkedin: #0A63BC;
    --linkedin-shadow: #1A2A40;
    --whatsapp: #25D366;
    --whatsapp-shadow: #25D3657E;
    --github: #1A1E22;
    --github-shadow: #010101;

}