.language{
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: 500;
}
.language-selected{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}

.language-selected::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://flagsapi.com/BR/flat/64.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.language ul{
    display: none;
    position: absolute;
    width: 140px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.language ul li{
    list-style: none;
}

.language ul li a{
    display: block;
    color: #222;
    padding-top: 5px 10px;
}

.language ul li a:hover{
    background-color: #CCCCCC;
}

.language ul li a::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}

a.br::before{
    background-image: url(https://flagsapi.com/BR/flat/64.png);
}

a.en::before{
    background-image: url(https://flagsapi.com/US/flat/64.png);
}

a.es::before{
    background-image: url(https://flagsapi.com/ES/flat/64.png);
}

.language:hover ul{
    display: block;
}




.language-selected::before{
    background-image: url(https://flagsapi.com/BR/flat/64.png);
}